*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: #262231;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

main{
    display: flex;
    justify-content: space-around;
    font-size: 2em;
}

.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

#color{
    color: gold;
    font-size: 1.1em;
    font-family: 'Amatic SC', cursive;
}

.container h2{
    text-align: left;
    padding-left: 5%;
}

.whitespace{
    background-color: #efe9e9;
    height: 100vh;
    width: 50%;
}

img{
    width: 100%;
    height: 100%;
}

input[type = "submit"]{
    padding: 5%;
    color: gold;
    background: #3e3b5838;
    font-size: 2em;
    margin-top: 25%;
    border: solid white 2px;
    border-radius: 10px;
    font-family: 'Amatic SC', cursive;
}

input[type = "submit"]:hover{
    cursor: pointer;
    background: gold;
    color: black;
}
    
section{
    margin: 5% 5% 10% 5%;
    font-size: 1.9em;
}

.description{
    display: flex;
    justify-content: space-between;
}

.d1, .d2{
    width: 45%;   
}
.d1 h2, .d2 h2{
    width: 93%;   
}

section h2{
    margin-bottom: 2%;
    width: 30%;
}

footer{
    background-color: #12101d5c;
    width: 100%;
    height: 10vh;
    font-size: 1.4em;
    padding-left: 1%;
    
}
